.sidebar {
  background: var(--color-surface-sidebar);
  border-right: 1px solid var(--color-border-subtle);
  position: fixed;
  top: 0;
  left: 0;
  transition: width var(--transition-default);
  height: 100vh;
  overflow: hidden;
  z-index: 10000;
}

.expanded {
  width: 280px;
  box-shadow: var(--color-shadow-elevated);
}

.collapsed {
  width: 90px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding:0.5rem 0;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}

.expanded .header {
  justify-content: flex-start;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  margin: 0 0.5rem;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  background: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  border-bottom: var(--color-border-subtle) solid 2px;
}

.icon {
  font-size: 1.35rem;
  width: 25px;
  text-align: center;
  margin-left: 0.5rem;
}

.mobileDrawer {
  padding: 1rem 1rem;
  height: 100%;
  z-index: 10000;
}

.drawerClose {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.navLink span {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.expanded .navLink span {
  opacity: 1;
}

.mobileDrawer .navLink span {
  opacity: 1;
}
.mobileDrawer .header {
  margin-top: 0;
}
