.modalContent {
  background-color: var(--modal-bg);
  color: var(--modal-text-color);
  padding: 1.5rem;
}

.title {
  color: var(--modal-title-color);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.cancelBtn {
 background-color: transparent;
  color: var(--btn-success-bg);
  border: 2px solid var(--btn-success-bg);
  border-radius: 1rem;
  font-weight: 500;
  padding: 8px 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cancelBtn:hover {
 background-color: var(--btn-success-bg);
  color: var(--btn-success-color);
}

.logoutBtn {
   background-color: transparent !important;
  color: var(--btn-danger-bg) !important;
  border: 2px solid var(--btn-danger-bg) !important;
  padding: 8px 16px;
  border-radius: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logoutBtn:hover {
   background-color: var(--btn-danger-bg) !important;
  color: var(--btn-danger-color) !important;
}




