/* Container for the alerts */
.response-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1050;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 400px;
}
.alert-ok {
  background-color: #2cac70;
  color: #ffffff;
  border: 1px solid #2cac70;
  font-weight: 600;
}

