/* Container for the alerts */
.response-container {
  position: fixed;
  top: 4rem;
  right: 1rem;
  z-index: 9999999999;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 400px;
  margin-left: auto;
  box-sizing: border-box;
}
.alert-ok {
  background-color: hwb(152 50% 5%);
  color: #0e9255;
  border: 1px solid hwb(152 50% 5%);
  font-weight: 600;
}
