/* Container for the alerts */
.response-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1050;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 400px;
}
.alert-ok {
  background-color: #a3cfbb !important; /* darker green */
  color: #fff !important; /* keep text white */
}
