.icon {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  color: #666;
}
.icon_input .icon {
  top: 50% !important;
}
.icon:hover {
  color: #00a0c2;
}

.right {
  right: 12px;
}

.left {
  left: 12px;
}
