/* HEADER */
.section-heading h2 {
  font-weight: 700;
  margin-bottom: 10px;
}

.section-heading p {
  color: #6c757d;
}

/* STEP WRAPPER */
.step-item {
  position: relative;
  text-align: center;
}

/* ICON */
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.icon svg {
  font-size: 48px;
  line-height: 1;
  color: #105491;
}

/* OPTIONAL CONTENT TWEAKS */
.step-content h4 {
  margin-top: 15px;
  font-weight: 600;
}

@media (min-width: 992px) {
  .step-item {
    position: relative;
  }

  .step-item::after {
    content: "→";
    position: absolute;
    top: 50%;

    right: -18px;
    transform: translateY(-50%);
    font-size: 2rem;
    font-weight: 700;
    color: #105491;
    z-index: 5;
    pointer-events: none;
  }

  /* remove last arrow */
  .last::after {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .step-item::after {
    display: none;
  }
}

/* Numbering  */

.number {
  position: absolute;
  top: 10px;
  left: 30px;

  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 700;

  color: #105491;
  background: #f1f6ff;
  border-radius: 50%;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
